* {
  text-align: left;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

/* .comment{
    border-style: solid;
    border-width: thin;
  } */

h3 {
  font-size: 18px;
  font-weight: bold;
}

label {
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 200px;
  padding-bottom: 100px; */
}

textarea {
  padding: 10px;
  width: 95%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* box-shadow: 1px 1px 1px #999; */
}

.passwordChangeSuccessDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogContent {
  background: #282828;
  color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: auto;
  max-height: 500px; /* Đặt chiều cao tối đa của dialog */
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá chiều cao tối đa */
}

.dialogContent h2 {
  margin: 0;
  font-size: 24px;
}

.dialogContent button {
  margin: 10px;
  padding: 5px 10px;
  background: CornflowerBlue;
  color: #282828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* max-width: 10%; */
}

.dialogContent br {
  padding: 10px;

}

.issueMembers {
  display: flex;
  align-items: center;
}

.sameRow {
  float: left;
}

.buttonless {
  background: none !important;
  border: none;
  padding: 0%;
  font: inherit;
  font-size: smaller;
  cursor: pointer;
  color: azure !important;
  text-decoration: underline;
  margin: 0%;
}

.customButton {
  /* display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer; */
  /* display: inline-block !important; */
  /* width: auto !important;
    padding: 10px 20px;  */
  /* Thêm padding để tạo khoảng cách xung quanh nội dung của button */

  /* white-space: nowrap; */
}

.leftDiv {
  float: left;
  width: 70%;
  /* background-color: lightblue; */
  box-sizing: border-box;
  padding: 0px;
}

.rightDiv {
  float: right;
  width: 20%;
  /* background-color: lightcoral; */
  box-sizing: border-box;
  padding: 0px;
}

.rightDiv button {
  margin: 10px;
  padding: 5px 10px;
  background: #404040;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* max-width: 10%; */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.summaryInit{
  background-color: #404040;
  border: none;
  resize: none;

}

.summary{
  background-color: #282828;
  border: none;
  resize: none;
  cursor: pointer;

}

.initComment{
  background-color: #181818;
  padding: 10px;
  margin: 0%;
}

.floatRight{
  float: right;
  box-sizing: border-box;

}

.closeButton{
  background-color: #282828 !important;

}

.noGap{
  margin: 0%;
  padding: 0%;
}

.bold{
  font-weight: bold;
}